[Desktop Entry]
Name=Tesseract
Comment=Speed cubing timer for the COSMIC™ desktop
Type=Application
Icon=co.uk.cappsy.tesseract
Exec=tesseract %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
MimeType=
