[Desktop Entry]
Name=Tesseract
Comment=Speed cubing timer for the COSMIC™ desktop
Type=Application
Icon=uk.co.cappsy.Tesseract
Exec=tesseract %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
