[Desktop Entry]
Name=Tesseract
Name[cs]=Teserakt
Comment=Speed cubing timer for the COSMIC™ desktop
Comment[cs]=Časovač pro skládání kostek (speedcubing) v prostředí COSMIC™
Type=Application
Icon=uk.co.cappsy.Tesseract
Exec=tesseract %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
